In [1]:
from tensorboard.backend.event_processing import event_accumulator
import pandas as pd


def parse_tensorboard(path, scalars):
    """returns a dictionary of pandas dataframes for each requested scalar"""
    ea = event_accumulator.EventAccumulator(
        path,
        size_guidance={event_accumulator.SCALARS: 0},
    )
    _absorb_print = ea.Reload()
    # make sure the scalars are in the event accumulator tags
    assert all(
        s in ea.Tags()["scalars"] for s in scalars
    ), "some scalars were not found in the event accumulator"
    return {k: pd.DataFrame(ea.Scalars(k)) for k in scalars}

In [2]:
import os

In [5]:
data_dir = "./../../saved/"

In [8]:
time_dict = parse_tensorboard("./../../saved/log/mps_bs64/0421_153610/events.out.tfevents.1682084171.MacBook-Pro-de-Inaki.local.5569.0", ["time/epoch/train", "time/iter/train"])

In [11]:
time_dict['time/epoch/train']

      wall_time  step      value
0  1.682084e+09    15  10.884752
1  1.682084e+09    31  10.431082
2  1.682084e+09    47  10.426297
3  1.682084e+09    63  10.289495
4  1.682084e+09    79  10.422423
5  1.682084e+09    95  10.324549
6  1.682084e+09   111  10.284695
7  1.682084e+09   127  10.300714
8  1.682084e+09   143  10.406886
9  1.682084e+09   159  10.286034